:root {
	--indent: calc(33% - 1px);
}

body, html {
	padding: 0;
	margin: 0;
}

body{
	position: relative;
}

.right_side {
	width: var(--indent);
	min-width: 350px;
	max-width: 400px;
	height: 100vh;

	/*border: 1px solid #000;*/

	position: absolute;
	z-index: 100;
	background: #aaa;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.arrow {
	float: right;
	height: 100%;
	width: 25px;
	box-sizing: border-box;
	/*border: 1px solid #000;*/
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	cursor: pointer;
}

.arrow:hover {
	background: #555;
}
i {
	font-size: 30px;
}
.arrow:hover i{
	font-size: 40px;
}







.wrapper {
	margin-left: var(--indent);
	box-sizing: border-box;
	/*width: 100%;*/
}

header {
	box-sizing: border-box;
	height: 50px;
	width: 100%;
	padding: 1px;
	/*border: 0.5px solid #000;*/
	background: #aaf;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main {
	padding: 15px;
}

iframe {
	width: 100%;
	height: 500px;
}










/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}











@media all and (min-width: 1200px) {
	:root {
	--indent: 400px;
	}
}

@media all and (max-width: 1090px) {
	:root {
	--indent: 350px;
	}
}

/*Куски кода для дальнейшей адаптации*/

* { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}